<% provide(:title, @title) %>

<div class="container">

  <% if @user.errors.any? %>
  <div class="alert alert-danger alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h2>Form is invalid</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
    <%= form_for(@user) do |f| %>
    <%= f.text_field :first_name, :placeholder =>  "#{@user.errors[:first_name].size.to_s} errors on First Name", :class => "form-control" %>
    <%= f.text_field :last_name, :placeholder => "#{@user.errors[:first_name].size.to_s} errors on Last Name", :class => "form-control" %>
    <%= f.text_field :user_name, :placeholder => "#{@user.errors[:first_name].size.to_s} errors on Username", :class => "form-control" %>
    <%= f.email_field :email, :placeholder => "#{@user.errors[:first_name].size.to_s} errors on Email", :class => "form-control" %>
    <%= f.password_field :password, :placeholder => "#{@user.errors[:first_name].size.to_s} errors on Password", :class => "form-control" %>
    <%= f.submit "Create my account", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
  </div>

</div> <!-- /container -->


