<% provide(:title, @title) %>

<div class="container">

      <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
    <%= form_for(@user) do |f| %>
    <%= f.text_field :first_name, :placeholder => "First Name", :class => "form-control" %>
    <%= f.text_field :last_name, :placeholder => "Last Name", :class => "form-control" %>
    <%= f.text_field :user_name, :placeholder => "Username", :class => "form-control" %>
    <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %>
    <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
    <%= f.submit "Create my account", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
  </div>

</div> <!-- /container -->


