  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">


  <!-- Latest compiled and minified CSS -->

  <!-- Using the optional Bootstrap theme from CDN -->
  <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application" , media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag"//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js", "data-turbolinks-track" => true %>

  <!-- Prevent cross site request forgery -->
  <%= csrf_meta_tags %>



